<%- include('./partials/header') %>


<h3>Top Games</h3>
<div class="game-list">
  <% topGames.forEach((game, index) => { %>
    <div class="game">
      <h3><%= game.name %></h3>
      <img src="<%= game.coverImageUrl %>" alt="<%= game.name %>" class="game-image">
      <p>Rating: <%= game.rating %></p>
    </div>
    <% if ((index + 1) % 5 === 0) { %>
      <div class="clear"></div>
    <% } %>
  <% }) %>
</div>

<%- include('./partials/footer') %>