<%- include('../partials/header') %>


<div class="header">
  <h1 class="page-title">The Most Popular Games in 2023</h1>
  <form action="/games" method="get">
    <button type="submit" class="refresh-button">🔄</button>
  </form>
</div>

<div class="game-list">
  <% topGames.forEach((game, index) => { %>
    <div class="game">
    <div class="game-info">
      <a href="/games/<%= game.id %>">
      <h3><%= game.name %></h3>
    </a>
    <div class="rating">
      <div class="rating-stars">
      <% for (let i = 1; i <= 5; i++) { %>
        <% if (game.rating >= i) { %>
          <i class="fas fa-star"></i>
        <% } else if (game.rating >= i - 0.5) { %>
          <i class="fas fa-star-half-alt"></i>
        <% } else { %>
          <i class="far fa-star"></i>
        <% } %>
      <% } %>
      </div>
    <% if (user) { %>
      <form method="POST" action="/mylist" class="add-to-list-form">
        <input type="hidden" name="gameId" value="<%= game.id %>">
        <button type="submit" class="add-to-list-button">+</button>
      </form>
      <% } %>
    </div>
  </div>

      <a href="/games/<%= game.id %>">
      <img src="<%= game.coverImageUrl %>" alt="<%= game.name %>" class="game-image">
        </a>

    </div>
    <% if ((index + 1) % 5 === 0) { %>
      <div class="clear"></div>
    <% } %>
  <% }) %>
</div>


<%- include('../partials/footer') %>
