<%- include('../partials/header') %>


<div class="header">
  <h1 class="page-title">The Most Popular Games in 2023</h1>
  <form action="/games" method="get">
    <button type="submit" class="refresh-button">🔄</button>
  </form>
</div>

<div class="game-list">
  <% topGames.forEach((game, index) => { %>
    <div class="game">
      <a href="/games/<%= game.id %>">
      <h3><%= game.name %></h3>
      <div class="rating"><p>Rating: <%= game.rating %></p></div>
      <img src="<%= game.coverImageUrl %>" alt="<%= game.name %>" class="game-image">
      </a>
    </div>
    <% if ((index + 1) % 5 === 0) { %>
      <div class="clear"></div>
    <% } %>
  <% }) %>
</div>


<%- include('../partials/footer') %>
